html{
    background: url(background2.jpg);
    background-size: 100%;
}

body {
    flex: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
}
#buttons{
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 20px;
}

button{
    flex: auto;
    height: 50px;
    width: 100px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.output{
    color: white;
}

p{
    color: white;
}

#restart{
    display: flex;
}